<nav class="navbar navbar-inverse bg-primary">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li class="active"><a href="/">Recipes</a> </li>
			<li><a href="/new">New Recipes</a> </li>
		</ul>
	</div>
</nav>