<!DOCTYPE html>
<html>
<head>
	<title> <%= @title %></title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<div class="uniClass">
		<img src="images/drama.png">
		<h1>Movie Reviews</h1>
	</div>
	
	<%= erb(:'partials/navigation', :layout => false) %>
	<%= yield %>

	
</body>
</html>